<div class="home-page" style="min-height: 690px">

<div class="col-md-9" style="padding-right:5px;padding-left:20px;">

<!-- MOVIES Section ========================================================= -->
<div class="movie-section">
	<h2  style="margin-top:10px;padding-left:5px"><a href="#/movies" style="color:#494949">Movies</a></h2>
	<div class="movie-list">	
		<div ng-repeat="movie in movies | filter:search | orderBy:'-id' | limitTo:10 " class="movie-item video-item">
			<div class="title">
				<b><a href="#/movies/{{movie.id}}/watch-{{ movie.titleUrl }}" title="{{ movie.title }} ({{ movie.released }})">{{ movie.title }}</a></b>
			</div>
			<div class="year"><i>({{ movie.released }})</i></div>
			<a href="#/movies/{{movie.id}}/watch-{{ movie.titleUrl }}"><img ng-src="{{ movie.poster }}" title="{{ movie.title }} ({{ movie.released }})"></a>
		</div>
	</div><!-- end div movie-list class -->
	<p style="text-align:right;padding-right:10px"><a href="#/movies">more movies...</a></p>	
</div>
<!-- END MOVIES Section ===================================================================== -->

<!-- SERIES Section ========================================================================= -->
<div class="series-section">
	<h2 style="margin-top:10px;padding-left:5px"><a href="#/tv-series" style="color:#494949">Tv Series</a></h2>
	<div class="series-list">
		<div ng-repeat="series in tvseries | filter:search | orderBy:'-id' | limitTo:10 " class="series-item video-item">
			<div class="title">
				<b><a href="#/tv-series/{{ series.id }}/watch-{{ series.title }}_S{{ series.season }}-E{{ series.episode }}" title="{{ series.title+' - '+series.episodeTitle}}(S{{series.season+'-E'+series.episode}})">{{ series.title }}</a></b>
			</div>
			<div class="episode-title"><i>(S{{ series.season }}-E{{ series.episode }})</i><p>{{ series.episodeTitle }}</p></div>
			<a href="#/tv-series/{{ series.id }}/watch-{{ series.title }}_S{{ series.season }}-E{{ series.episode }}" title="{{ series.title+' - '+series.episodeTitle}}(S{{series.season+'-E'+series.episode}})"><img ng-src="{{ series.poster }}" alt=""></a>
		</div>
	</div><!-- end div series-list class-->
	<p style="text-align:right;padding-right:10px"><a href="#/tv-series">more tv series...</a></p>
</div>
<!-- END SERIES Section =============================================================== -->





<!-- ANIME Section ==================================================================== -->
<!-- <div class="anime-section">
	<h3>Anime</h3>
	<div class="anime-list">

		<div class="anime-item video-item">
			<div class="title">
				<b><a href="">Gotham</a></b>
			</div>
			<div class="year"><i>(2014)</i></div>
			<a href=""><img src="images/gotham.jpg" alt=""></a>
		</div>


		
	</div>
</div> -->
<!-- END ANIME Section ================================================================ -->






</div><!-- end div col-md-10 class -->




<div class="col-md-3" style="padding:0;" >
	<div ng-controller="NavigationController" style="border:1px solid #ddd;background:#ffffff;padding:0 5px">
		<div class="recently-updated" style="margin:5px 0;padding:5px;border-radius:5px;border:1px solid #ccc;background:#ffffff">
			<p style="font-size:1.2em;font-weight:700">Recently fixed & Added Video</p>
			<ul style="padding-left:0;">
				<li ng-repeat="update in recentlyUpdate.updatedVideos">
					<a href="{{update.link}}">{{update.title}}</a> -<i style="color:green">{{update.update}}!</i>
				</li>
			</ul>
			<p style="text-align:right;padding-top:5px"><a href="">report broken video here</a></p>
		</div>	
	</div>
</div><!-- End col-md-3 Class  -->




</div>
