<div class="home-page" style="min-height: 690px">

<div class="col-md-9" >

<!-- MOVIES Section ========================================================= -->
<div class="movie-section" style="border:1px solid #ddd;background:#ffffff;margin-top:5px">
	<h2  style="margin-top:10px;padding-left:5px"><a href="#/movies" style="color:#494949">Movies</a></h2>
	<div class="movie-list"  style="border-top:1px dotted grey;padding:0 5px;margin:0 5px;padding-top:15px;overflow:hidden;">
		
		<div ng-repeat="movie in movies | filter:search | orderBy:'-id' | limitTo:10 " class="movie-item video-item">
			<div class="title">
				<b><a href="#/movies/{{movie.id}}/watch-{{ movie.title }}" title="{{ movie.title }} ({{ movie.released }})">{{ movie.title }}</a></b>
			</div>
			<div class="year"><i>({{ movie.released }})</i></div>
			<a href="#/movies/{{movie.id}}/watch-{{ movie.title }}"><img ng-src="{{ movie.poster }}" title="{{ movie.title }} ({{ movie.released }})"></a>
		</div>
		
	</div><!-- end div movie-list class -->
	<p style="text-align:right;padding-right:10px"><a href="#/movies">more movies...</a></p>	
</div>
<!-- END MOVIES Section ===================================================================== -->

<!-- SERIES Section ========================================================================= -->
<div class="series-section" style="border:1px solid #ddd;background:#ffffff;margin-top:5px">
	<h2 style="margin-top:10px;padding-left:5px"><a href="#/tv-series" style="color:#494949">Tv Series</a></h2>
	<div class="series-list"  style="border-top:1px dotted grey;padding:0 5px;margin:0 5px;padding-top:15px;overflow:hidden;">

		<div ng-repeat="series in tvseries | filter:search | orderBy:'-id' | limitTo:10 " class="series-item video-item">
			<div class="title">
				<b><a href="#/tv-series/{{ series.id }}/watch-{{ series.title }}_S{{ series.season }}-E{{ series.episode }}" title="{{ series.title+' - '+series.episodeTitle}}(S{{series.season+'-E'+series.episode}})">{{ series.title }}</a></b>
			</div>
			<div class="episode-title"><i>(S{{ series.season }}-E{{ series.episode }})</i><p>{{ series.episodeTitle }}</p></div>
			<a href="#/tv-series/{{ series.id }}/watch-{{ series.title }}_S{{ series.season }}-E{{ series.episode }}" title="{{ series.title+' - '+series.episodeTitle}}(S{{series.season+'-E'+series.episode}})"><img ng-src="{{ series.poster }}" alt=""></a>
		</div>
		
	</div><!-- end div series-list class-->
	<p style="text-align:right;padding-right:10px"><a href="#/tv-series">more tv series...</a></p>
</div>
<!-- END SERIES Section =============================================================== -->
<hr>





<!-- ANIME Section ==================================================================== -->
<!-- <div class="anime-section">
	<h3>Anime</h3>
	<div class="anime-list">

		<div class="anime-item video-item">
			<div class="title">
				<b><a href="">Gotham</a></b>
			</div>
			<div class="year"><i>(2014)</i></div>
			<a href=""><img src="images/gotham.jpg" alt=""></a>
		</div>


		
	</div>
</div> -->
<!-- END ANIME Section ================================================================ -->






</div><!-- end div col-md-10 class -->




<div class="col-md-3" style="padding:0">

	<div style="margin-top:3px;padding:5px;border-radius:5px;border:1px solid #ccc;background:#ffffff">
		<p style="font-size:1.2em;">Recently fixed & Added Video</p>
		<a href="#/movies/17/watch-Jurassic%20World">Jurassic World</a> -<i style="color:green;">fixed!</i> <br>
		<a href="#/movies/15/watch-Insurgent">Insurgent</a> - <i style="color:green;">fixed!</i> <br>
		<a href="#/movies/13/watch-Lupin%20III">Lupin III</a> - <i style="color:green;">fixed!</i> <br>
		<a href="#/tv-series/6/watch-The%20Flash_S01-E07">The Flash S01-E07</a> - <i style="color:green;">fixed!</i> <br>
		<a href="#/movies/7/watch-Dawn%20of%20the%20Planet%20of%20the%20Apes">Dawn of the Planet Apes</a> - <i style="color:green;">fixed!</i> 


		<p style="text-align:right;padding-top:20px"><a href="">click here to report videos</a></p>
	</div>
	
</div>





</div>
