<div class="movies-page" style="min-height: 690px">


<div class="col-md-9" style="padding-right:5px;padding-left:20px">
	
	<div class="movie-list"  style="border:1px solid #ddd;background:#ffffff;">
		<div style="padding-left:10px">
			<h2 style="margin-top:10px;">Movie List</h2>
			<dir-pagination-controls
			    [max-size="5"]
			    [direction-links="true"]
			    [boundary-links="true"]>
		    </dir-pagination-controls>
			

			<div class="movie-item" dir-paginate="movie in movies |  filter:search | orderBy:'-id' | itemsPerPage: 10 ">
				<div class="poster">
					<a href="#/movies/{{movie.id}}/watch-{{ movie.title }}"><img ng-src="{{ movie.poster }}" alt=""></a>		
				</div>
				<div class="title">
					<a href="#/movies/{{movie.id}}/watch-{{ movie.title }}"><b>{{ movie.title }}</b> - <i>({{ movie.released }})</i></a>
				</div>
				<div class="genre">
					<i>{{ movie.genres }}</i>
				</div>
				<div class="summary">
					<p>{{ movie.summary }}</p>
				</div>
			</div><!-- end div movie-item class -->
			
			
			<dir-pagination-controls
			    [max-size="5"]
			    [direction-links="true"]
			    [boundary-links="true"]>
		    </dir-pagination-controls>
		</div>	
	</div><!-- end div movie-list class -->
	
	




</div><!-- end div col-md-9 class -->















<div class="col-md-3" style="padding:0;">
	<div style="border:1px solid #ddd;background:#ffffff;padding:0 5px">
		<div class="recently-updated" style="margin:5px 0;padding:5px;border-radius:5px;border:1px solid #ccc;background:#ffffff">
			<p style="font-size:1.2em;">Recently fixed & Added Video</p>
			<a href="#/movies/17/watch-Jurassic%20World">Jurassic World</a> -<i style="color:green;">fixed!</i> <br>
			<a href="#/movies/15/watch-Insurgent">Insurgent</a> - <i style="color:green;">fixed!</i> <br>
			<a href="#/movies/13/watch-Lupin%20III">Lupin III</a> - <i style="color:green;">fixed!</i> <br>
			<a href="#/tv-series/6/watch-The%20Flash_S01-E07">The Flash S01-E07</a> - <i style="color:green;">fixed!</i> <br>
			<a href="#/movies/7/watch-Dawn%20of%20the%20Planet%20of%20the%20Apes">Dawn of the Planet Apes</a> - <i style="color:green;">fixed!</i> 


			<p style="text-align:right;padding-top:20px"><a href="">click here to report videos</a></p>
		</div>	
	</div>
</div><!-- End col-md-3 Class  -->

</div>

