<div class="movies-page" style="min-height: 690px">


<div class="col-md-9" style="padding-right:5px;padding-left:20px">
	
	<div class="movie-list"  style="border:1px solid #ddd;background:#ffffff;">
		<div style="padding-left:10px">
			<h2 style="margin-top:10px;">Movie List</h2>
			<dir-pagination-controls
			    [max-size="5"]
			    [direction-links="true"]
			    [boundary-links="true"]>
		    </dir-pagination-controls>
			

			<div class="movie-item" dir-paginate="movie in movies |  filter:search | orderBy:'-id' | itemsPerPage: 10 ">
				<div class="poster">
					<a href="#/movies/{{movie.id}}/watch-{{ movie.titleUrl }}"><img ng-src="{{ movie.poster }}" alt=""></a>		
				</div>
				<div class="title">
					<a href="#/movies/{{movie.id}}/watch-{{ movie.titleUrl }}"><b>{{ movie.title }}</b> - <i>({{ movie.released }})</i></a>
				</div>
				<div class="genre">
					<i>{{ movie.genres[0].genre+movie.genres[1].genre+movie.genres[2].genre }}</i>
				</div>
				<div class="summary">
					<p>{{ movie.summary }}</p>
				</div>
			</div><!-- end div movie-item class -->
			
			
			<dir-pagination-controls
			    [max-size="5"]
			    [direction-links="true"]
			    [boundary-links="true"]>
		    </dir-pagination-controls>
		</div>	
	</div><!-- end div movie-list class -->
	
	




</div><!-- end div col-md-9 class -->
















<div class="col-md-3" style="padding:0;" >
	<div ng-controller="NavigationController" style="border:1px solid #ddd;background:#ffffff;padding:0 5px">
		<div class="recently-updated" style="margin:5px 0;padding:5px;border-radius:5px;border:1px solid #ccc;background:#ffffff">
			<p style="font-size:1.2em;font-weight:700">Recently fixed & Added Video</p>
			<ul style="padding-left:0;">
				<li ng-repeat="update in recentlyUpdate.updatedVideos">
					<a href="{{update.link}}">{{update.title}}</a> -<i style="color:green">{{update.update}}!</i>
				</li>
			</ul>
			<p style="text-align:right;padding-top:5px"><a href="">report broken video here</a></p>
		</div>	
	</div>
</div><!-- End col-md-3 Class  -->

</div>

