<div class="movies-page" style="min-height: 690px">


<div class="col-md-9">
	<h2>Movie List</h2>
	<div class="movie-list">
	
		<dir-pagination-controls
		    [max-size="5"]
		    [direction-links="true"]
		    [boundary-links="true"]>
	    </dir-pagination-controls>
		

		<div class="movie-item" dir-paginate="movie in movies |  filter:search | orderBy:'-id' | itemsPerPage: 10 ">
			<div class="poster">
				<a href="#/movies/{{movie.id}}/watch-{{ movie.title }}"><img ng-src="{{ movie.poster }}" alt=""></a>		
			</div>
			<div class="title">
				<a href="#/movies/{{movie.id}}/watch-{{ movie.title }}"><b>{{ movie.title }}</b> - <i>({{ movie.released }})</i></a>
			</div>
			<div class="genre">
				<i>{{ movie.genres }}</i>
			</div>
			<div class="summary">
				<p>{{ movie.summary }}</p>
			</div>
		</div><!-- end div movie-item class -->
		
		
		<dir-pagination-controls
		    [max-size="5"]
		    [direction-links="true"]
		    [boundary-links="true"]>
	    </dir-pagination-controls>
			
	</div><!-- end div movie-list class -->
	
	




</div><!-- end div col-md-9 class -->















<div class="col-md-3">
	<div style="margin-top:55px;padding:5px;background:#eee">
		<p style="font-size:1.2em;">Recently fixed & Added Video</p>
		<a href="">Jurassic World</a> -<i style="color:green;">fixed!</i> <br>
		<a href="">Insurgent</a> - <i style="color:green;">fixed!</i> <br>
		<a href="">Lupin III</a> - <i style="color:green;">fixed!</i> 

		<p style="text-align:right;padding-top:20px"><a href="">click here to report videos</a></p>
	</div>
</div>


</div>

