<div class="series-page" style="min-height: 690px;padding-top:20px;">
	



<div class="col-md-9" style="padding-right:5px;padding-left:20px;">
	<div class="series-list" style="border:1px solid #ddd;background:#ffffff;">
		<div style="padding-left:10px">
			<h2 style="margin-top:10px;">Tv Series List</h2>
			<dir-pagination-controls
			    [max-size="5"]
			    [direction-links="true"]
			    [boundary-links="true"]>
		    </dir-pagination-controls>



			<div class="series-item" dir-paginate="series in seriesList | filter:search | orderBy:'-id' | itemsPerPage: 10">
				<div  class="poster img-thumbnail" ng-switch on="series.status">		
					<a href="#/tv-series/{{series.id}}/{{series.titleUrl}}" title="{{ series.title }} ({{ series.released.year }})">
						<img  ng-src="{{ series.poster }}" alt="{{ series.title }} ({{ series.released.year }})">
					</a>	
					<p ng-switch-when="Airing" style="font-size:.8em;background:#008102;padding:1px;color:#ffffff;margin-bottom:0;text-align:center">
					<b>{{ series.status }}</b>
					</p>	
					<p ng-switch-when="Ended" style="font-size:.8em;background:grey;padding:1px;color:#ffffff;margin-bottom:0;text-align:center">
					<b>{{ series.status }}</b>
				</p>
				</div>

				<a href="#/tv-series/{{series.id}}/{{series.titleUrl}}" title="{{ series.title }} ({{ series.released.year }})">
					<div class="title">
						<b>{{ series.title }}</b> <i>({{series.released.year+series.released.endedyear}})</i>
					</div>
				</a>	
					<div class="episode-genres" style="padding-left:5px;overflow:hidden;">
						<i ng-repeat="genre in seriesList[series.id].genres">{{genre.genre}}</i>
					</div>
				
				<div class="summary">
					<p>{{ series.plot }}</p>
				</div>
			</div>





			<!-- <div class="series-item" dir-paginate="series in tvseries | filter:search | orderBy:'-id' | itemsPerPage: 10">
				<div class="poster">
					<a href="#/tv-series/{{ series.id }}/watch-{{ series.title }}_S{{ series.season }}-E{{ series.episode }}"><img ng-src="{{ series.poster }}" alt=""></a>		
				</div>
				<a href="#/tv-series/{{ series.id }}/watch-{{ series.title }}_S{{ series.season }}-E{{ series.episode }}">
					<div class="title">
						<b>{{ series.title }}</b>  <i>(S{{ series.season }} - E{{ series.episode }})</i>
					</div>
					<div class="episode-title">
						<i><b>{{ series.episodeTitle }}</b></i>
					</div>
				</a>	
				<div class="summary">
					<p>{{ series.summary }}</p>
				</div>
			</div> --><!-- end div series-item class -->

			<dir-pagination-controls
			    [max-size="5"]
			    [direction-links="true"]
			    [boundary-links="true"]>
		    </dir-pagination-controls>		
		</div>
	</div><!-- end div series-list class -->
	
	




</div><!-- end div col-md-9 class -->




<div class="col-md-3" style="padding:0;" >
	<div ng-controller="NavigationController" style="border:1px solid #ddd;background:#ffffff;padding:0 5px">
		<div class="recently-updated" style="margin:5px 0;padding:5px;border-radius:5px;border:1px solid #ccc;background:#ffffff">
			<p style="font-size:1.2em;font-weight:700">Recently fixed & Added Video</p>
			<ul style="padding-left:0;">
				<li ng-repeat="update in recentlyUpdate.updatedVideos">
					<a href="{{update.link}}">{{update.title}}</a> -<i style="color:green">{{update.update}}!</i>
				</li>
			</ul>
			<p style="text-align:right;padding-top:5px"><a href="">report broken video here</a></p>
		</div>	
	</div>
</div><!-- End col-md-3 Class  -->


</div>
