<div class="tvseries-page" style="min-height: 690px">
	

<div class="col-md-9" style="padding-right:5px;padding-left:20px;">
	<div class="series-list" style="border:1px solid #ddd;background:#ffffff;padding:0 5px">
	
			<!-- Movie info. -->
			<div class="movie-summary" style="overflow:hidden;margin-top:5px;height:282px;">
				<img style="float:left" width="180" height="280" ng-src="{{seriesList[getparamId].poster}}" alt="">
				<div style="float:right">
					<a class="trailer-icon" href="">watch<img src="https://cdn3.iconfinder.com/data/icons/sphericalcons/32/tv.png" alt="">trailer</a>
				</div>
				<ul style="background:#ffffff;overflow:hidden;padding-left:5px;">
					<li><b>Genres:</b> <span ng-repeat="genre in seriesList[getparamId].genres">{{genre.genre}}</span></li>
					<li><b>Release Date:</b> {{seriesList[getparamId].released.month+' '+seriesList[getparamId].released.day+', '+seriesList[getparamId].released.year}}</li>
					<li><b>Duration:</b> {{seriesList[getparamId].duration}}</li>
					<li><b>Creators:</b> <a ng-repeat="creator in seriesList[getparamId].creators" href="">{{creator.creator+', '}}</a></li>
					<li><b>Starring:</b> <a ng-repeat="star in seriesList[getparamId].starring" href="">{{star.star+', '}}</a></li>
				</ul>
				<div style="overflow:hidden;padding-left:5px;height:169px">
					<div style="overflow:scroll;border:1px solid #ccc;border-radius:5px;height:169px;text-indent:25px;padding:5px;font-size:1em">
						{{seriesList[getparamId].plot}}
					</div>
				</div>
			</div><!-- END Movie info. movie-summary class-->
			
	
		<h2><p style="float:left;">{{seriesList[getparamId].title}} - </p> 

		<p style="text-indent:3px;"> 
		Season <!-- {{seriesList[getparamId].latestseason}} -->
			<select style="border:none" name="" id="" ng-model="selected_season" ng-options="season.season for season in seriesSeason(getparamId)">

				<option ng-if="!selected_season" value="">{{latestseason(getparamId)}}</option>
			</select>
		</p>
		</h2>

		<!-- default episode show -->
		<div ng-if="!selected_season" ng-repeat="episode in seriesEpisode(getparamId,latestseasonId(getparamId))">
			<div style="overflow:hidden;margin-top:5px;height:130px;border-bottom:2px dotted #ddd;font-family: Verdana, Arial, sans-serif;font-family: Verdana, Arial, sans-serif;">
				<div class="epi-img" style="float:left;" >
					<a href="#/tv-series/{{getparamId}}-{{latestseasonId(getparamId)}}-{{episode.id}}/{{getparamTitle}}/watch-{{episode.episodetitleUrl}}">
					<img class="img-thumbnail" src="{{episode.images.img+episode.images.imgsize1}}" alt="">
					</a>
					<p style="color:#ffffff;text-align:right;padding-right:10px;margin-top:-25px"><strong>{{'S'+latestseason(getparamId)}}-{{'E'+episode.episode}}</strong></p>
					
				</div>
				<div style="float:right;font-size:.7em">
						<p>{{episode.released.month +' '+ episode.released.day +', '+episode.released.year}}</p>
				</div>
				<div class="epi-title" style="overflow:hidden;padding-left:5px;font-size:1.1em;">
					<a href="#/tv-series/{{getparamId}}-{{latestseasonId(getparamId)}}-{{episode.id}}/{{getparamTitle}}/watch-{{episode.episodetitleUrl}}"><strong>{{episode.episodetitle}}</strong>
					</a>
				</div>
				<div class="epi-summary" style="overflow:scroll;padding-left:5px;margin-top:12px;height:85px;text-indent:25px;font-size:.9em;">
					<p>{{episode.summary}}</p>
				</div>	
			</div>
		</div>
	

		<!-- show when selected other season -->
		<div ng-repeat="episode in seriesEpisode(getparamId,selected_season.id)">
			<div style="overflow:hidden;margin-top:5px;height:130px;border-bottom:2px dotted #ddd;">
				<div class="epi-img" style="float:left" >
					<a href="#/tv-series/{{getparamId}}-{{selected_season.id}}-{{episode.id}}/{{getparamTitle}}/watch-{{episode.episodetitleUrl}}">
					<img class="img-thumbnail" src="{{episode.images.img+episode.images.imgsize1}}" alt="">
					</a>
					<p style="color:#ffffff;text-align:right;padding-right:10px;margin-top:-25px"><b>{{'S'+selected_season.season}}-{{'E'+episode.episode}}</b></p>
					
				</div>
				<div style="float:right;font-size:.7em">
						<p>{{episode.released.month +' '+ episode.released.day +', '+episode.released.year}}</p>
				</div>
				<div class="epi-title" style="overflow:hidden;padding-left:5px;font-size:1.1em;">
					<a href="#/tv-series/{{getparamId}}-{{selected_season.id}}-{{episode.id}}/{{getparamTitle}}/watch-{{episode.episodetitleUrl}}"><strong>{{episode.episodetitle}}</strong>
					</a>
				</div>
				<div class="epi-summary" style="overflow:scroll;padding-left:5px;margin-top:12px;height:85px;text-indent:25px;font-size:.9em;">
					<p>{{episode.summary}}</p>
				</div>	
			</div>
		</div>	




		
		
	 <!-- <select ng-model="showEpisode" class="form-control"  required='true'>
	 			
                <option ng-repeat="season in seriesSeason(getparamId)" value="{{season.season}}">Season {{season.season}}</option>
              
     </select> -->
			
<!-- 	<div ng-repeat="season in seriesSeason(getparamId)">


			<ul ng-show="season.season==showEpisode" class="episode">
				<li ng-repeat="episode in seriesEpisode(getparamId,season.id)">

				{{episode.images.img}}
				<img src="{{episode.images.img}}" alt="">
					<a  href="#/tv-series/{{getparamId}}/{{getparamTitle}}/S{{season.season}}-E{{episode.episode}}/{{episode.episodetitleUrl}}">
						Episode {{episode.episode}} 
					</a>
				</li>
			</ul>
			
	</div>
 -->

		










			
		
	</div><!-- end div series-list class -->
	
	




</div><!-- end div col-md-9 class -->




<div class="col-md-3" style="padding:0;" >
	<div ng-controller="NavigationController" style="border:1px solid #ddd;background:#ffffff;padding:0 5px">
		<div class="recently-updated" style="margin:5px 0;padding:5px;border-radius:5px;border:1px solid #ccc;background:#ffffff">
			<p style="font-size:1.2em;font-weight:700">Recently fixed & Added Video</p>
			<ul style="padding-left:0;">
				<li ng-repeat="update in recentlyUpdate.updatedVideos">
					<a href="{{update.link}}">{{update.title}}</a> -<i style="color:green">{{update.update}}!</i>
				</li>
			</ul>
			<p style="text-align:right;padding-top:5px"><a href="">report broken video here</a></p>
		</div>	
	</div>
</div><!-- End col-md-3 Class  -->


</div>

