<div class="watch-series-page" style="min-height: 690px">

<div class="col-md-9">
<div class="title">
<h3>{{tvseries[getparamId].title}} - {{tvseries[getparamId].episodeTitle}}(S{{tvseries[getparamId].season}}-E{{tvseries[getparamId].episode}})</h3>
</div>

<div>
	
<!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9" style="box-shadow: 0 8px 10px #777;">
 <!--  <iframe src="{{'http://watchlist.co.nf/html5-video-player/?link=' +seriesLink(getparamId) +'&poster=' +seriesPoster(getparamId)}}" allowfullscreen></iframe> -->

 	<iframe src="{{seriesplayer()}}" frameborder="0" allowfullscreen></iframe>
</div>


</div>

 <!-- <div class="video-player" seriesplayer ></div> -->

</div>

<div class="col-md-3">
	<div style="margin-top:55px;padding:5px;background:#eee">
		<p style="font-size:1.2em;">Recently fixed & Added Video</p>
		<a href="">Jurassic World</a> -<i style="color:green;">fixed!</i> <br>
		<a href="">Insurgent</a> - <i style="color:green;">fixed!</i> <br>
		<a href="">Lupin III</a> - <i style="color:green;">fixed!</i> 

		<p style="text-align:right;padding-top:20px"><a href="">click here to report videos</a></p>
	</div>
	
	
</div>


</div>

