<div class="watch-movies-page" style="min-height: 690px">
	

<div class="col-md-9" style="padding-right:5px;padding-left:20px">
	<div class="watch-movie" style="border:1px solid #ddd;background:#ffffff;padding:0 5px">
		<!-- Movie info. -->
		<div class="movie-summary" style="overflow:hidden;margin-top:5px;height:282px;">
			<img style="float:left" width="180" height="280" ng-src="{{movies[getparamId].poster}}" alt="">
			<div style="float:right">
				<a class="trailer-icon" href="">watch<img src="https://cdn3.iconfinder.com/data/icons/sphericalcons/32/tv.png" alt="">trailer</a>
			</div>
			<ul style="background:#ffffff;overflow:hidden;padding-left:5px;">
				<li><b>Genre:</b> {{movies[getparamId].genres[0].genre}}  {{movies[getparamId].genres[1].genre}}{{movies[getparamId].genres[2].genre}}</li>
				<li><b>Year:</b> {{movies[getparamId].released}}</li>
				<li><b>Duration:</b> {{movies[getparamId].duration}}</li>
				<li><b>Directed By:</b> {{movies[getparamId].starring}}</li>
				<li><b>Starring:</b> </li>
			</ul>
			<div style="overflow:hidden;padding-left:5px;height:169px">
				<div style="border:1px solid #ccc;border-radius:5px;height:100%;text-indent:25px;padding:5px;font-size:.9em">
					{{movies[getparamId].summary}}
				</div>
			</div>
		</div><!-- END Movie info. movie-summary class-->
		
		<div class="title" >
			<h3>{{movies[getparamId].title}} - ({{movies[getparamId].released}})</h3>
			{{moviesplayer()}}
		</div>




		<!-- Embed Video -->
		<div>

		    <div class="embed-responsive embed-responsive-16by9" style="box-shadow: 0 8px 10px #777;background:black">

		      <!-- <iframe src="{{'http://watchlist.co.nf/html5-video-player?link=' +moviesLink(getparamId) +'&poster=' +moviesPoster(getparamId)}}" allowfullscreen></iframe> -->
		      <iframe src="{{moviesplayer1()}}" frameborder="0" allowfullscreen></iframe>
		    </div>	        
		</div>
		
		<div>

		    <div class="embed-responsive embed-responsive-16by9" style="box-shadow: 0 8px 10px #777;background:black">

		      <!-- <iframe src="{{'http://watchlist.co.nf/html5-video-player?link=' +moviesLink(getparamId) +'&poster=' +moviesPoster(getparamId)}}" allowfullscreen></iframe> -->
		      <iframe src="{{moviesplayer2()}}" frameborder="0" allowfullscreen></iframe>
		    </div>	        
		</div>
		<div>

		    <div class="embed-responsive embed-responsive-16by9" style="box-shadow: 0 8px 10px #777;background:black">

		      <!-- <iframe src="{{'http://watchlist.co.nf/html5-video-player?link=' +moviesLink(getparamId) +'&poster=' +moviesPoster(getparamId)}}" allowfullscreen></iframe> -->
		      <iframe src="{{moviesplayer2()}}" frameborder="0" allowfullscreen></iframe>
		    </div>	        
		</div>
		<!-- END Embed Video -->







		<!-- Related Movies -->
		<div class="related-movies" style="margin-top:30px;overflow:hidden;">
			<h4>Related Movies</h4>
			<div ng-repeat="movie in movies | filter: movies[getparamId].genres[1].genre | limitTo:4 " style="float:left;margin-left:1px;">
				<a href="#/movies/{{movie.id}}/watch-{{movie.titleUrl}}" title="{{movie.title}} - ({{movie.released}})">
				<div class="related-title" style="width:180px;height:25px;">
					{{movie.title}}
				</div>
					<img width="180" height="120" src="{{movie.image}}" alt="">
				</a>
			</div>
		</div><!-- END relate-movies class -->
		
	</div><!-- END watch-movie class -->
</div><!-- END col-md-9 class -->



<div class="col-md-3" style="padding:0;" >
	<div ng-controller="NavigationController" style="border:1px solid #ddd;background:#ffffff;padding:0 5px">
		<div class="recently-updated" style="margin:5px 0;padding:5px;border-radius:5px;border:1px solid #ccc;background:#ffffff">
			<p style="font-size:1.2em;font-weight:700">Recently fixed & Added Video</p>
			<ul style="padding-left:0;">
				<li ng-repeat="update in recentlyUpdate.updatedVideos">
					<a href="{{update.link}}">{{update.title}}</a> -<i style="color:green">{{update.update}}!</i>
				</li>
			</ul>
			<p style="text-align:right;padding-top:5px"><a href="">report broken video here</a></p>
		</div>	
	</div>
</div><!-- End col-md-3 Class  -->


</div>

